<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169172167441-q9hmf7hghov92p7t5q679ujpcqtqlhtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169172167441-q9hmf7hghov92p7t5q679ujpcqtqlhtm</string>
	<key>API_KEY</key>
	<string>AIzaSyBe44sjfzr2U5ICPy7-0grV3bhuL1eyWoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>169172167441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-d8104</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-d8104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169172167441:ios:749d0a4401aa1993a8bab0</string>
</dict>
</plist>